# team-chat configuration
SERVER_HOST=0.0.0.0
SERVER_PORT=50057
SERVER_SHUTDOWN_GRACE_SECONDS=5.0
SERVER_REFLECTION_ENABLED=true

RUNTIME_LOG_LEVEL=info
RUNTIME_LOG_JSON=false

POSTGRES_HOST=postgres-chat
POSTGRES_PORT=5432
POSTGRES_DB=chat_db
POSTGRES_USER=chat_svc
POSTGRES_PASSWORD=chat_pass
POSTGRES_SSLMODE=disable

OTEL_EXPORTER_OTLP_ENDPOINT=otel-collector:4317
OTEL_SERVICE_NAME=team-chat
